<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>Weber framework</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fontello.css" rel="stylesheet">
    <style type="text/css">
      section.hero ul li{
        margin-left: -75px;
      }
      section.hero ul li.first{
        margin-left: 0;
      }
      .code, h2, a {
        color: #4c0066;
      }
    </style>
  </head>

  <body data-spy="scroll" data-offset="100">

    <div class="content" style="margin-top: -100px">
      <section id="hero" class="hero" style="background: rgb(235, 235, 235)">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="row text-center">
		<img src="https://f.cloud.github.com/assets/197979/1323435/8403dbfe-347f-11e3-97b8-5f6bd1d902ca.png"></img>
                <div class="col-md-6 col-md-offset-3">
                  <p class="inline-code"><a href="https://github.com/0xAX/weber">git clone https://github.com/0xAX/weber</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <ul class="list-unstyled">
                  <li class="first">Weber:</li>
                  <li><i class="icon-rocket"></i>MVC Web framework for Elixir language</li>
                  <li><i class="icon-rocket"></i>Flexible routing</li>
                  <li><i class="icon-rocket"></i>Websocket support</li>
                  <li><i class="icon-rocket"></i>Sessions</li>
                  <li><i class="icon-rocket"></i>Grunt integration</li>
                  <li><i class="icon-rocket"></i>Html Helpers</li>
                  <li><i class="icon-rocket"></i>And many more...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <center><div class="col-md-12" style="background:rgb(235, 235, 235);" >
      <div class="row">
        <iframe src="http://ghbtns.com/github-btn.html?user=0xAX&repo=weber&type=watch&size=large&count=true" width = "185" frameborder="0"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=0xAX&repo=weber&type=fork&size=large&count=true"  width = "170" frameborder="0"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=0xAX&repo=weber&type=follow&size=large&count=true"  width = "250" frameborder="0"></iframe>
      </div>
    </div>
	</center>
    <section class="quick-start">
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="page-header">Quick start</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>There are some simple steps for running weber based application:</p>
	      <ul>
                  <li>Get and install Elixir from master.</li>
                  <li>Clone weber repo with <span class='code'>git clone https://github.com/0xAX/weber</span></li>
	          <li>Execute <span class='code'>make &amp;&amp; make test in the weber directory</span></li>
                  <li>Create new project with: <span class='code'>mix weber.new /home/user/testWebApp</span> or <span class='code'>mix weber.new /home/user/testWebApp --grunt</span> for Grunt integration.</li>
                  <li>go to the <span class='code'>/home/user/testWebApp</span> and execute there: <span class='code'>mix deps.get &amp;&amp; mix compile --all --force &amp;&amp; ./start.sh</span></li>
                  <li>Open browser at <span class='code'>http://localhost:8080/</span></li>
              </ul>
            </div>
          </div>
   </section>
   <section id="documentation" class="documentation">
        <div class="container">
          <div class="row">
            <h1>Documentation</h1>
            <hr>
          </div>

          <h2>Weber Configuration</h2>  
          <div class="row">
            <div class="col-md-6">
              <p>Weber's configuration is in <a href="https://github.com/0xAX/weber/blob/master/templates/default/lib/config.ex">config.ex</a> configuration file</p>
              <p>There are the following configuration parameters:</p>
              <ul>
                <li>http_host - Web server host</li>
                <li>http_port - Weber server port</li>
                <li>acceptors - Acceptors count</li>
                <li>ssl - Use ssl or not </li>
                <li>ws_port - Websocket port</li>
                <li>ws_mod -  Websocket handler module</li>
                <li>user_internationalization - Use internationalization or not</li>
                <li>default_locale - Defualt locatization</li>
                <li>use_locales - Which locales to use</li>
                <li>use_sessions - Enable/Disable sessions</li>
                <li>max_age - Session life time</li>
              </ul>
            <p>If you need to access to the configuration, you can get it with <i>Config.config</i></p>
            </div>
            <div class="col-md-6">
              <script src="https://gist.github.com/0xAX/477d43ab051033c7bc30.js"></script>
            </div>
        </div>
        <h2>Routing</h2>
        <div class="row">
            <div class="col-md-6">
              <p>When you've created a new Weber web application, you will have a 
                 <a href="https://github.com/0xAX/weber/blob/master/templates/default/lib/route.ex">route.ex</a> 
                 file in the <i>/home/user/testWeberApplication/lib</i> directory. This is the app's routing declaration.</p>
                 <p>It consists of a route macro whose value is a chain of functions with 3 parameters:<p>
		<ul>
			<li>Http method;
			<li>Route path, can be binding (starts with ':' symbol);
			<li>Module name of controller;
			<li>Function name from this controller.
		</ul>
		<p>Http method can be:</p>
		<ul>
			<li>"GET"</li>
			<li>"POST"</li>
			<li>"PUT"</li>
			<li>"DELETE"</li>
			<li>"ANY"</li>
	        </ul>
	        <b><p>Weber.Route API:</p></b>
                <ul>
                  <li>Weber.Route.link(:controller, :action, [binding: "value"]) - Creates url from Elixir code</li>
                </ul>
           </div>
            <div class="col-md-6">
                <script src="https://gist.github.com/0xAX/6598164.js"></script>
                <br/>
                <script src="https://gist.github.com/0xAX/b7f526d83e2b7f7a16b8.js"></script>
            </div>
        </div>

        <h2>Web controllers</h2>
	  <div class="row">
            <div class="col-md-6">
              <p>All weber's controllers are in the <i>/project/lib/controllers</i> directory. They can be in any sub-directories.</p>
	      <p>All weber's controllers must <i>use Weber.Controller</i></p>
              <p>All weber's controllers have an action, which are usually Elixir functions that take two parameters. 
                 They are executed when new requests are routed to them.<p>
              <b><p>Action parameter:</p></b>
              <ul>
                <li>[binding_keyword_list] - if there is request: <i>/username/0xAX</i> to the url <i>/username/:username</i>, you will get [username: username] binding value</li>
                <li>connection - use it for getting information about request (cookie, headers, ...)</li>
              </ul>
              <b><p>Responses</p></b>
              <h3>Weber supports different responses:</h3>
              <b><p>Render views with bindings</p></b>
		<script src="https://gist.github.com/0xAX/2d3df6d518c75e9b34bb.js"></script>
              Or:
                <script src="https://gist.github.com/0xAX/a6db8cbcaecb39379f71.js"></script>
              <b><p>Render inline template</p></b>
                <script src="https://gist.github.com/0xAX/50a68456824f10e847a0.js"></script>
              <b><p>Render any view in controller.</b>
                <script src="https://gist.github.com/0xAX/f9b9ce191201c1efe9ee.js"></script>
              <b><p>File</p></b>
	        <script src="https://gist.github.com/0xAX/b5a7509445f78c92296c.js"></script>
              <b><p>JSON</p></b>
                <script src="https://gist.github.com/0xAX/6e26160272f67fcb988f.js"></script>
              <b><p>Redirect</p></b>
                <script src="https://gist.github.com/0xAX/87b69eb8930674e4f038.js"></script>
              <b><p>Plain text</p></b>
                <script src="https://gist.github.com/0xAX/98427c034fcb59ab915c.js"></script>
              <b><p>Nothing</p></b>
                <script src="https://gist.github.com/0xAX/37d57fb7a98f7cf54499.js"></script>
            </div>
            <div class="col-md-6">
              <script src="https://gist.github.com/0xAX/6598034.js"></script>
            </div>
        </div>


          <h2>Views</h2>
	   <div class="row">
            <div class="col-md-6">
              <p>Weber uses EEx templates for views. It's just html code with embedded Elixir code. There are the following types of tags:</p>
              <ul>
                <li><% Elixir expression - inline with output %></li>
                <li><%= Elixir expression - replace with result %></li>
                <li><%% EEx quotation - returns the contents inside %></li>
                <li><%# Comments - they are discarded from source %></li>
              </ul>
            </div>
            <div class="col-md-6">
              <script src="https://gist.github.com/0xAX/7611357.js"></script>
            </div>
        </div>

        <h2>Models</h2>
          <div class="row">
            <div class="col-md-6">
              <p>Weber uses the <a href="https://github.com/elixir-lang/ecto">Ecto</a> library for building data models. 
                 Weber's model is a just Elixir an module which uses Ecto API and is located in your_project_name/lib/models directory.</p>
            </div>
            <div class="col-md-6">
               <script src="https://gist.github.com/0xAX/6598004.js"></script>
               <br/>
               <script src="https://gist.github.com/0xAX/6598025.js"></script>
            </div>
        </div>

        <h2>Session</h2>
          <div class="row">
            <div class="col-md-6">
              <p>Weber's session manager is automatically started with any web application. Weber has simple API for managing sessions:</p>
              <ul>
                <li>get_session(conn) -> [] | [{atom, binary()}]</li>
                <li>get_session(conn, key :: atom()) -> [] | binary()</li>
                <li>set_session_val(conn, key :: atom(), val :: binary()) -> :ok.</li>
              </ul>

	      <b><p>Weber's sessions backend:</p></b>
              <ul>
                <li>ETS</li>
              </ul>

            </div>
            <div class="col-md-6">
              <script src="https://gist.github.com/0xAX/a7f588064e8215d2cb88.js"></script>
            </div>
        </div>


        <h2>Helpers</h2>
         <div class="row">
            <div class="col-md-12">
              <p>There are many <i>helpers in Weber which can help you to develop your web application:</i></p>
              <b><p>Html helpers</p></b>
                <script src="https://gist.github.com/0xAX/f67dfc6e5230de5d4fa5.js"></script>
              <b><p>Resource helpers</p></b>
                <script src="https://gist.github.com/0xAX/db8c55640a5c6bfd8de7.js"></script>
              <b><p>include_view helpers</p></b>
                <script src="https://gist.github.com/0xAX/639711626a098844d05f.js"></script>
            </div>
         </div>

        <h2>WebSocket</h2>
         <div class="row">
            <div class="col-md-6">
              <p>Weber has WebSockets support and you can handle websocket connection and incoming/outgoing websocket messages in your actions. 
                 First of all you need to designate websocket controller in your config.ex file in webserver: section, like:</i></p>
              <p>ws_mod: :Simplechat.Main.Chat</p>
              <p>After that you must implement three callbacks:</p>
              <ul>
                <li>websocket_init(pid, conn) - initialization of new websocket connection</li>
                <li>websocket_message(pid, message, conn) - incoming messages handler </li>
                <li>websocket_terminate(pid, conn) - connection terminated</li>
              </ul>
              <p>Note that all websocket connections must start with prefix /_ws/.</p>
            </div>
            <div class="col-md-6">
              <script src="https://gist.github.com/0xAX/6626585afeb40ec0c1a9.js"></script>
              <br/>
              <script src="https://gist.github.com/0xAX/6703859.js"></script>
            </div>
         </div>
       </div>
    </section>

   <script src="js/bootstrap.min.js"></script>
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37794359-5', '0xax.github.io');
  ga('send', 'pageview');

</script>
  </body>
</html>
