<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Weber is MVC Web framefork for Elixir</title>

    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/pygment_trac.css">
    <script src="../javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <a href="https://github.com/you"><img style="position: absolute; top: 0px; margin-top: -15px; right: -5px; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  
  <body>
    <div class="wrapper">
      
      <header>
        <h1 class="header"><a href="../index.html">Weber</a></h1>
        <p class="header">MVC web framework for Elixir</p>
        
        <ul>
          <li style="cursor: pointer;" onClick="go('quickstart.html')">
            <a class="buttons github">Quick start</a>
          </li>

          <li style="cursor: pointer;" onclick="go('routes.html')">
            <a class="buttons github">Routes</a>
          </li>
          
          <li style="cursor: pointer;" onclick="go('webcontrollers.html')">
            <a class="buttons github">Web Controllers</a>
          </li>

          <li style="cursor: pointer;" onclick="go('views.html')">
            <a class="buttons github">Views</a>
          </li>

          <li style="cursor: pointer;" onclick="go('models.html')">
            <a class="buttons github">Models</a>
          </li>

          <li style="cursor: pointer;" onclick="go('sessions.html')">
            <a class="buttons github">Sessions</a>
          </li>

          <li style="cursor: pointer;" onclick="go('helpers.html')">
            <a class="buttons github">Helpers</a>
          </li>

          <li style="cursor: pointer;" onclick="go('websocket.html')">
            <a class="buttons github">Websocket</a>
          </li>

        </ul>

        <p class="header">This project is maintained by <a class="header name" href="https://github.com/0xAX">0xAX</a></p>

      </header>

      <section>

        <h3>
            <a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages">
            <span class="octicon octicon-link"></span></a>Views.
        </h3>

        Weber uses EEx templates for views. It's just html code with embedded Elixir code. There are following types of tags:

        <ul>
          <li><% Elixir expression - inline with output %></li>
          <li><%= Elixir expression - replace with result %></li>
          <li><%% EEx quotation - returns the contents inside %></li>
          <li><%# Comments - they are discarded from source %></li>
        </ul>

        like as:

        <script src="https://gist.github.com/0xAX/7611357.js"></script>

        You can find more info at EEx <a href="http://elixir-lang.org/docs/master/">documentation</a>.

      </section>

      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
        
  </body>
</html>
